body{
    background-image: linear-gradient(to right, rgb(245, 217, 217), rgb(241, 159, 173));
    padding-left: 30px;
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;
}
main{
    background-color: white;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
    box-shadow: 5px 5px 15px plum;
    margin: auto;
    margin-right: 300px;
    border-radius: 5px;

    min-width: 320px;
    max-width: 800px;
}
.menu{
    margin-right: 20px;
}
.menu li{
    display: inline-block;
    align-items: center;
    padding-left: 200px;
}
.imagemtamanho{
    width: 140px;
    height: 170px;
    margin-top: 3px;
    margin-bottom: 3px;
}
img{
    border-radius: 5px;
}
.imagem{
    width: 40px;
    height: 20px;
}
.imagem2{
    width: 40px;
    height: 20px;
}
